body {
    padding-top: 40px;
}
.logo_img{
    max-width: 256px;
}
.starter-template {
    padding: 20px 15px;
    text-align: center;
}

table {
    text-align: left;
}

.thumbnail img {
    height: 200px;
}
.product-img{
    max-height: 600px;
}
div.form-inline form {
    display: inline;
}

div.labels {
    position: absolute;
}

div.labels span.badge {
    display: block;
}

span.badge.badge-success {
    color: #fff;
    background-color: #28a745;
}

span.badge.badge-warning {
    color: #fff;
    background-color: #dc3545;
}

span.badge.badge-danger {
    color: #212529;
    background-color: #ffc107;
}

div.filters {
    padding-bottom: 5px;
}
.li-focus:hover {
    background-color: #e7e7e7;
}
.edit-form{
    padding-bottom: 16px;
}