* {box-sizing: border-box;}
.product-inner {
    width: 300px;
    margin: 0 auto;
    background: white;
    text-align: center;
    border-bottom: 2px solid #ebebec;
    transition: .2s linear;
}
.product-inner:hover {border-color: #bca480;}
.product-wrap {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.product-wrap img {
    display: block;
    width: 100%;
}
.actions {
    position: absolute;
    left: 0;
    bottom: -20%;
    width: 100%;
    background: rgba(59,62,67,0.75);
    transition: .3s linear;
}
.product-inner:hover .actions {bottom: 0;}
.actions a {
    text-decoration: none;
    float: left;
    width: 50%;
    color: white;
    padding: 15px 0;
    transition: .2s linear;
}
.actions a:hover {background: rgba(59,62,67,0.85);}
.actions a:before {font-family: "FontAwesome";}
.add-to-cart:before {content: "\f07a";}
.quickview:before {content: "\f002";}
/*.wishlist:before {content: "\f08a";}*/
.product-info {
    padding-bottom: 10px;
    font-family: 'Noto Sans', sans-serif;
}
.product-title {
    margin: 0 0 10px 0;
    font-family: 'Noto Sans', sans-serif;
}
.product-title a {
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 400;
    font-size: 16px;
}
.price {
    font-weight: bold;
    color: #5c6f02;